<%- include('../header.ejs') -%>
    <h1>create Centre page</h1>

    <form class="container" action="/centres/create" method="post" enctype="multipart/form-data">
        <div class="row">
            <label for="name" class="form-label col">
                name <input type="text" id="name" class="form-control" name="name">
            </label>
            <label for="phone" class="form-label col">
                phone <input type="text" id="phone" class="form-control" name="phone" maxlength="6">
            </label>
        </div>

        <div class="row">
            <label for="timesOfWork" class="col">
                From <input type="number" min="0" max="24" class="form-control" name="from">
            </label>
            <label for="" class="col">
                To <input type="number" min="0" max="24" class="form-control" name="to">
            </label>
        </div>

        <input type="file" required accept=".jpg;.jpeg;.png" name="image">
        <label for="city" class="form-label">
            city 
            <select name="city" id="" class="form-select" aria-label="Default select example">
                <option value="Nablus">Nablus</option>
                <option value="tulkram">tulkram</option>
            </select>
        </label>
        <label for="owner" class="form-label">
            Centre Owner 
            <select name="owner" id="owner" class="form-select" aria-label="Default select example">
                <% users.forEach(function(owner){ %>
                    <option value="<%= owner.id %>"><%= owner.name %></option>
                <% }) %>
            </select>
        </label>
            
            
        </div>
        <input id="saveButton" class="btn btn-primary ps-4 pe-4" type="submit" value="create">
    </form>

<%- include('../footer.ejs') -%>
